    .red {color: #ff0000;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
     } /* este e um estilo */

     .blue {color: #00559b;
         font-size: 20px;
         font-weight: bold;
      } /* este e um estilo */
    